.header {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0));
    height: 100px;
    width: 1600px;
}
.welocm-block {
    height: 740px;
    width: 1600px;
    background: url("../../image/PromoSection/About.jpg");
}

.top-menu {
    width: 1600px;
    height: 100px;
}

.top-menu ul li {
    list-style-type: none;
    float: left;
    font-size: 24px;
}

.top-menu a {
    font-family: GenBas;
    font-size: 21px;
    color: white;
    text-decoration: none;
}

.sub-menu {
    padding-top: 20px;
    margin-left: 457px;
}

.menu-one {
    padding-left: 6.5%;
}

.menu-one :hover {
    border-top: 3px solid white;
}

.menu-two {
    width: 51px;
    border: 1px;
    padding-left: 4.8%;
}

.menu-two a:hover {
    border-top: 3px solid white;
}

.menu-three {
    padding-left: 4.8%;
}

.menu-three a:hover {
    border-top: 3px solid white;
}

.menu-four {
    padding-left: 4.8%;
}

.menu-four a:hover {
    border-top: 3px solid white;
}

.menu-six {
    padding-left: 4.8%;
}

.menu-six a:hover {
    border-top: 3px solid white;
}

.menu-five {
    padding-left: 4.8%;
}

.menu-five a:hover {
    border-top: 3px solid white;
}
.about-block {
    height: 720px;
    width: 1600px;
}
.logo {
    cursor: pointer;
    background: url("../../image/PromoSection/Logo.png");
    width: 156px;
    height: 26px;
    float: left;
    margin-left: 170px;
    margin-top: 2%;
}

.social {
    margin-top: 1%;
    margin-left: 3.5%;
    width: 81px;
    height: 21px;

}
.decoration {
    margin-left: 43%;
    width: 232px;
    height: 43px;
    background-image: url("../../image/IngredientsSection/Decoration.png");
}

.about-text {
    margin-bottom: 3%;
    height: 206px;
    letter-spacing: 6px;
    font-stretch: expanded;
    text-align: center;
    color: white;
    position: center;
    padding-top: 3%;
    font-family: YersevaOne;
    font-weight: bolder;
}

.promo-button {
    margin-top: 2.7%;
    margin-left: 30%;
    display: flex;
}

.booking-button {
     background: rgba(0, 0, 0, 0.5);
    margin-left: 34.68%;
}

.booking-button:hover {
    background: rgba(0, 0, 0, 0.7);
}

a {
    text-decoration: none;
}

.menu-button {
    background: rgba(255, 245, 215, 0.2);
    margin-left: 51%;
}

.menu-button:hover {
    background: rgba(255, 245, 215, 0.5);
}